@import url('https://fonts.googleapis.com/css?family=Bitter|Indie+Flower|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Raleway|Slabo+27px');
*{
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
}
p{
    /* font-family: 'Noto Serif KR', sans-serif;  */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Slabo 27px', serif;
}
h1,h2,h3,h4{
        font-family: 'Noto Serif KR', sans-serif; 
}
body{
    background-color: #f2f2f2;
}
div.messageContainer{
    position: relative;
    height: 540px;
}
div.WelcomeMessage{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
}
div.WelcomeMessage hr{
   background-color: #000;
}
div.cc{
    position: relative;
    font-family: 'Indie Flower', cursive;
    transform: translateY(-1400px);
    animation: about 1s ease-in-out 2s forwards;
}
@keyframes about {
    100%{
        transform: translateY(0);
    }
}
a.library{
    color: darkslateblue;
    text-decoration: none;
    padding: 0 4px;
    cursor: pointer;
    position: relative;
}
a.library span:before{
    content: attr(data-text);
    position: absolute;
    color:red;
    padding: 0 3px;
    background-color: #000;
    color: #fff;
    transform-style: preserve-3d;
    transform: scale(0);
    opacity: 0;
}
a.library:hover span:before{
   animation: a 300ms ease-in-out forwards ;
}
@keyframes a{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
button.navbar-toggler{
    outline: none;
    border: none;
}
p.about{
    border-bottom:1px solid #000;
}
textarea{
    resize: none;
}
hr.mt-3{
    width: 200px;
    margin: 0 auto;
}
i.html{
    color: #e44d26;
}
i.css{
    color:#379ad6;
}
i.js{
    color:#f0db4f;
}
i.java{
    color: #d03a15;
}
a.bootsrap{
    color: #3e265a;
    text-decoration: none;
    position: relative;
    padding: 0 4px;
}
div.about{
    background-color: #24292e;
    color: #fff;
}
a.WorksLink{
    color: #fff;
    text-decoration: underline;
}
a.WorksLink:hover{
    color: #4267b2;
    text-decoration: none;
}
div.ToDOList .carousel-control-prev-icon,
div.ToDOList .carousel-control-next-icon {
 opacity: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
  background-size: 100%, 100%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:black;
}
ol.g li{
    background-color: #000;
    opacity: .7;
}
ol.g li.active{
    background-color: #379ad6;
}
div.project-name,div.project-link{
    background-color:#f2f2f2;
    color: #000;
}
div.project-link a.btn.btn-outline-primary{
    color: #000;
}
div.More{
    background-color: #f2f2f2;
    color: #000;
}
div.container{
    position: relative;
}
.link:hover{
    opacity: 0.7;
}
a.facebook{
    position: relative;
    color: #4267b2;
    text-decoration: none;
}
a.instagram{
    color: orangered;
    text-decoration: none;
}
a.github{
    color: #24292e;
}
a.twitter{
    color: #1da1f2;
}
i.fa-skype{
    color: #00afec;
}