*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
nav#g i{
    color: #fff;
}
nav#g{
margin-bottom: 20px;
    background-color: #384047;
    color: #fff;
}
nav#g a{
    color: #fff
}
li.nav-item{
    position: relative;
    margin: 3px 3px;
    color: #fff;
}
a.nav-link{
    padding: 0;
}
a.nav-link:before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: .5s;
    opacity: 0;
}
a.nav-link:after{
    content: "";
    position: absolute; 
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .5s;
    opacity: 0;
}
li.nav-item:hover a.nav-link:before{
    opacity: 1;
    top: -10px;
    left: -10px;
}
li.nav-item:hover a.nav-link:after{
    opacity: 1;
    bottom: -10px;
    right: -10px;
}
@media screen and (max-width:786px)
{
    li.nav-item:hover a.nav-link:before{
        opacity: 0;
    }
    li.nav-item:hover a.nav-link:after{
        opacity: 0;
    }
}
a.navbar-brand{
    transform: translateX(-200px);
    animation: test 1s  ease-in-out 2s forwards;
}
@keyframes test{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
    
}